*{box-sizing: border-box;}

body{font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
    background: url(background.jpg);
    background-size: cover ;}

h3{ display: inline-block;margin-bottom: 0.5em;}

p{margin: auto;}

.main{width: 70%;height:80vh;
   background-color: rgb(0, 0, 0,0.5);
   margin: auto;
   border-radius: 3%;
   margin-top: 7vh;
}

header{
    text-align: center;
    color: #0d0;   
}

header img{width:20%;margin-top: 5vh;}

.container{
    color: white;
    width: 63%;
    margin: auto;
}


.container .prenota{
    padding: 10px;
    background-color: #0d0;
    text-align: center;  
}
.container .prenota input{border-radius: 15%;}


.carica{
 height: 1.5em; 
 border-radius: 3%;
 
}
.carica.ara{ background-color: rgb(240, 162, 68);width: 40%;}
.carica.verde{ background-color: rgb(68, 240, 120);width: 65%;}
.carica.rosso{ background-color: rgb(241, 78, 78);width: 20%;}

